---
import {Content as TourContent} from '../content/Tour.md';
import Logo from '../components/shared/Logo.astro';
import '../styles/global.css';
import '../styles/home.css';
import ReactCounter from '../components/ReactCounter.jsx';
import VueCounter from '../components/VueCounter.vue';
import Datatable from "../components/Datatable.jsx";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style is:global>
		pre {
			padding: 1rem;
		}
	</style>
</head>
<body>
	<main>


		<!--

		You can also use imported framework components directly in your markup!
		
		Note: by default, these components are NOT interactive on the client.
		The `client:visible` directive tells Astro to make it interactive.
		
		See https://docs.astro.build/core-concepts/component-hydration/ 

		-->

		<ReactCounter client:visible />

		<VueCounter client:visible />
		<!-- grab latest datatable entries -->
		<!-- <Datatable client:visible /> -->
	</main>
</body>
</html>
