---
---
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <title>Earth renew video</title>
  </head>
  <body>
    Sample file
    <iframe src="https://cdn.jwplayer.com/players/8mVy93Pz-cb4xXvRJ.html" style="position:absolute;" allowfullscreen={true} frameborder="0" height="100%" scrolling="auto" width="100%"></iframe>
  </body>
</html>